@import "reset";
@import 'https://fonts.googleapis.com/css?family=Roboto:900';
@font-face
  font-family: 'leaguegothic'
  src: url('../fonts/leaguegothic-italic-webfont.eot')
  src: url('../fonts/leaguegothic-italic-webfont.eot?iefix') format("eot"), url('../fonts/leaguegothic-italic-webfont.woff') format("woff"), url('../fonts/leaguegothic-italic-webfont.ttf') format("truetype"), url('../fonts/leaguegothic-italic-webfont.svg#webfontjSpbZQRv') format("svg")


.resizeimage img
  width: 100%

body
  margin: auto;
  background: #33333D;
  color: #eee;
  font-family:  sans-serif;

header
  background-color: #114;
  height: 60px
  position: absolute
  top: 0
  width: 100%
  img
    display: inline-block
    float:left

  ul
    position: absolute
    left : 100px
    top: 0

    display: inline-block
    height: 100%
    margin: 0
    li
      display: inline-block
      height: 100%

    a
      display: inline-block
      color: #fff
      text-decoration: none
      padding: 20px
      height: 100%
    a:hover
      background-color: #225
.content
  position: absolute
  top: 60px
  width: 100%
footer
  position: absolute
  bottom: 0px
  width: 100%

h1
  margin: auto;
  width: 100%
  background-image: url("../../../dest/assets/images/header.jpg")
  background-size: cover
  background-position: center


h2
  font-family: 'Roboto'
  padding: 0.5em;
  text-align: center;
  font-size: 3em;
  margin-bottom: 0.5em;



h3
  font-family: leaguegothic
  font-size: 3em
  transition: 0.2s
  @media screen and (min-width: 960px)
    font-size: 4em
  padding: 25px

.what-wrapper
  background: #0d030f;
  color: #eee;
  margin: auto;
  p
    width: 100%
    padding: 2em
    text-align: center;
    font-size: 1em
    letter-spacing: 3px;


.biography-wrapper
  h2
    display: none;
  .person
    background-color:		rgba(0,0,0,0.5);
    height: 150px
    @media screen and (min-width: 960px)
      height: 120px;
    background-size: cover
    background-position: left,center
    overflow: hidden
    position: relative
    transition: 0.5s

    h3
      display: inline-block

    .bioArticleWrap
      transition: 0.5s
      position: absolute
      bottom: -200px
      width: 100%
      padding: 25px
    h4
      font-family: 'leaguegothic'
      font-size: 2em
      color: #ff1166
    p
      margin: auto
    a
      text-decoration: none
      color: #aaccff
      padding: 0.3em
      background-color: #0d030f
      letter-spacing: 0.15em
      display: inline-block
      transition: 0.5s
    a:hover
      transition: 0.2s
      color: #ffffff
      background: #aa0033


  #geru
    text-align: right;
    background-image:  url("../../../dest/assets/images/bg_geru2.jpg")
  #meg
    background-image: url("../../../dest/assets/images/bg_meg.jpg")
    background-position: right center
  #katasho
    background-color: #503030
    text-align: right
    background-position: right
  #chisei
    text-align: left
    background-image: url('../../../dest/assets/images/bg_chisei.jpg')
    background-position: right center

  .person.active
    height: 350px
    @media screen and (min-width: 960px)
      height: 250px
    transition: 0.5s

    h3
      display: inline-block
    .bioArticleWrap
      transition: 0.5s
      bottom: 0px


.projects-wrapper
  background: #0d0322
  height : 400px
  overflow-y: scroll
  h2
    font-size: 1em
  .pjleft
    width: 25%;
    padding: 25px
    float: left;
    background-color: #0d0322
    .project
      width: 100%
      padding: 5px
      h3
        display: none
      p
        display: none
      img
        width : 100%
  .pjright
    background-color: #0d0322
    width: 75%
    float: right
    p
      padding: 25px
    #cont1
      display: block
    #cont2
      display: none

.location-wrapper
      clear: both
      height: 400px
      padding: 2em
      h2
        font-family: 'Roboto'
        text-align: center
        font-size: 2em
        color: (100,100,100,50)
      #map
        height: 250px
        width: 100%

.footer-wrapper
      clear: both
      height: 300px
      padding: 2em
      h2
        font-family: 'Roboto'
        text-align: center
        font-size: 2em
        color: (100,100,100,50)

canvas
  display: block
