@mixin keyframes($animation-name) 
  @-webkit-keyframes $animation-name 
    @content;
  @-moz-keyframes $animation-name 
    @content;
  @keyframes $animation-name 
    @content;

@mixin animation($animation-name) 
  -webkit-animation: $animation-name;
  -moz-animation: $animation-name;
  animation: $animation-name;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;

@include keyframes(fadein)
  0% 
    opacity: 0
  100% 
    opacity: 1

#hoge
    @include animation(fadein 1.2s ease 0.15s)



$length: 4
@for $i from 1 through $length
  .gallery label:nth-child(#{$i*2}) .tabItem
    background-image: url("../images/quaijiu1-#{$i}.png")
    background-position: center
    width: 20%
    position: absolute
    font-size: 0
    left: $i*23 - 17.5%
    padding-top: 20%
    background-size: contain
    text-align: center
    background-repeat: no-repeat



    


.gallery
  clear:  both
  overflow: scroll
  position:  relative
  min-height: 480px
  width: 100%
  @media screen and (max-width: 600px)
    height: 600px


  input[type='radio']
    display: none
 
  input + label .tabContents  
    display: none

  input:checked + label .tabContents 
    position: absolute
    top: 0
    left: 0
    display: block 
    border: solid 1px #888 
    border-radius : 3px
    width: 99%
    margin: 12px auto
    height: 300px
    overflow: scroll
    background-image: url('../images/quaijiubg.png')
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    @media screen and (max-width: 600px) 
      font-size: 18px
      height: 450px
      padding: 12px 0
      
    


    h3
      width: 90%
      margin: 18px auto 0
      font-size: 24px
      @include animation(fadein 0.4s ease 0.15s)
      @media screen and (max-width: 600px)
        width: 95%
    p
      width: 80%
      margin: auto
      display: block
      font-size: 14px
      line-height: 2em
      @include animation(fadein 1.9s ease 0.15s)
      @media screen and (max-width: 600px)
        font-size: 18px
        width: 95%

    .source
      text-align: left
      font-size: 0.8em
      color: #666
      margin: 12px auto


input + label .tabItem
  top: 324px
  @media screen and (max-width: 600px)
    top: 504px
input:checked + label .tabItem
  top: 300px
  @media screen and (max-width: 600px)
      top: 480px

