doctype html
head
	meta(charset="utf-8")
	title='EIFUKU CIPHER'
	link(rel='stylesheet' type='text/css' href='dist/assets/stylesheets/main.css')
	script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBqMAzImohRxLilUyjjqk0FXUSUQ5G4hFA')
	script(src='dist/assets/js/map.js')
body(onload="initialize();")
	header 
		img(src="dist/assets/images/etahapi.png", alt="logo" height='120')
	h1.resizeimage
		img(src="dist/assets/images/header_letter.png", alt="EIFUKU CIPHER")
	.content
		.what-wrapper
			p We are cipher.
		.biography-wrapper
			h2 Biography
			.person#geru
				h3 Kyoko kadowaki a.k.a geruge
				.bioArticleWrap
					p Engineer
					p DJ / MC / Mathematics
					p twitter / github / blog/ website
			.person#meg
				h3 Megumi Torii a.k.a kinakobooster
				.bioArticleWrap
					p Designer
					p Tanka / Sclupture / Religious studies
					p twitter / blog / website
			.person#katasho
				h3 Katasho
				.bioArticleWrap
					p Squid
					p Splatoon
			.person#chisei
				h3 Chisei
				.bioArticleWrap
					p Beard dragon
					p Static on the rock / Mental health
					p twitter
		.what-wrapper
			p We are creative team in Eifuku
		.projects-wrapper
			h2 Projects	
			.pjleft
				.project
					h3 Eternal Unknown Pleasures
					img#unkn(src="dist/assets/images/project_unkn.png", alt="Unknown Pleasures")
					p You can enjoy Unknown Pleasures etarnally...
				.project
					h3 You are DEAD
					img(src="dist/assets/images/project_youaredead.png", alt="placeholder")
					p Escape from poop
			.pjright
				h3 aaa
				p aaa
					
		.location-wrapper
			h2 EIFUKU is Here
			p 8min from Shibuya
			p 12min fron Shinjuku
			//#map map
	footer
		h2 Contact
		p twitter / mail 
