doctype html
head
	meta(charset="utf-8")
	title='EIFUKU CIPHER'
	link(rel='stylesheet' type='text/css' href='main.css')
body
	img(src="src/assets/images/etahapi.png", alt="logo" height='240')
	h1.resizeimage
		img(src="src/assets/images/etahapi2.jpg", alt="EIFUKU CIPHER")
	.content
		.what
			h2 WE ARE CIPHER
			p There's EIFUKU CIPHER in Eifuku(Eternal Happy Town).
		.biography
			h2 Biography
			.person
				h3 Kyoko kadowaki
				p Engineer
				p DJ / MC / Mathematics
			.person
				h3 Megumi Torii
				p Designer
				p Tanka / Sclupture / Religious studies
			.person
				h3 Katasho
				p Squid
				p Splatoon
			.person
				h3 Chisei
				p Beard dragon
				p Static on the rock / Mental health
		.projects
			h2 Projects	
				h3 Eternal Unknown Pleasures
				img(src="src/assets/images/etahapi.png", alt="placeholder" height='240')
				
					
