div.wrap(padding="20px")
  h3 {{project.title}}
    canvas(id='processing-canvas') 
    h6 {{project.detail}}
    h6 
      a(href="{{src}}") source code
    h6 2016/6/19 @kinakobooster
  a(ui-sref='projects') back to projects
