doctype html
html(ng-app='App' lang='en')
	head
			meta(charset='utf-8')
			meta(name='keywords',content='怪獣,短歌,クィア,ジェンダー,歌会')
			meta(name='description' content='がおー')
			meta(name='twitter:card' content='summary')
			meta(name='twitter:site' content='@quaijiu')
			meta(name='twitter:title' content='怪獣歌会')
			meta(name='twitter:description' content='短歌の集まり、怪獣歌会のウェブサイトです')
			meta(name='twitter:image' content='http://quaijiu.tk/dest/assets/images/header.png')
			meta(name='twitter:url' content=
			'http://quaijiu.tk/')
			meta(name="viewport" content='width=device-width,initial-scale=1.0,minimum-scale=1.0')
			title='怪獣歌会 | Quaijiu'
			link(rel='stylesheet' type='text/css' href='dest/assets/stylesheets/main.css')
			link(rel='stylesheet' type='text/css' href='dest/assets/stylesheets/tab.css')
			script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js')
			script(src='dest/assets/js/app.js')

	body
		nav
			
		header
			h1 怪獣歌会


		.contents
			article
				h2 Quaijiu Vol.1
				span.tag ネットプリント
				span.tag note
				span.tag 配信中
				
				span.tweet
					a(href="https://twitter.com/share" class="twitter-share-button" data-hashtags="quaijiu") Tweet 
					script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

					iframe( src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fquaijiu.tk&layout=button&size=small&mobile_iframe=true&width=59&height=20&appId" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true")
				p
					| 短歌などの紙、Quaijiuが出ています。

				.gallery
					input#radio-tab1(type="radio" name="Tab" checked)
					label(for="radio-tab1")
		
						.tabContents 

							h3 1枚目　怪獣歌会宣言 / 連作5つ
							p.source 怪獣歌会宣言より
							p
								| 文学はしかし社会の奴隷として、虐げられたものを虐げ、搾取されたものを搾取し、殺されゆくものの背を崖に向かって押すことができる。
								br
								| 文学はしかしまつろわぬ民のアジールとして、体制の破壊者として、楽園からの途絶えがちな音信として、在ることもできる。
								br
								| 斃れゆく怪獣たちに花を。歩きつづける怪獣たちに乾杯を。
							
						.tabItem 
							span 1
						
					input#radio-tab2(type="radio" name="Tab")
					label(for="radio-tab2")
					
						.tabContents 
							h3 2枚目　歌会禄Ⅰ 前半
							p.source 歌会録Ⅰより抜粋
							p
								| 山城　そう、これ結構「女歌」意識して読めますよね。
								br
								| 斉藤　それだとやっぱり、「女が」苦しんでるんだなって思うと思うんですよ。〈女〉であることは自明のこととして見てる。でも私は、この歌を見たとき、〈女〉であることもできたし〈女〉でないこともできた魂が苦しんでると思うので、その差はすごい大きいと思うんですよね。
							
						.tabItem 
							span 2
					
					input#radio-tab3(type="radio" name="Tab")
					label(for="radio-tab3")
					
						.tabContents 
						
							h3 3枚目　歌会禄Ⅰ 後半 / 歌会禄Ⅱ 前半
							p.source 歌会録Ⅰより抜粋
							p
								| 鳥居　だから、〈彼〉はめっちゃ強いわけじゃん。めっちゃ強いし、みんなの中にいるし、勝ち目があるかないかっていったら多分あんまりないんだよね。でも、生き延びるためには殺さなきゃいけないって言ってるのが、そうなんだよ！みたいな。
							
						.tabItem 
							span 3
						

					input#radio-tab4(type="radio" name="Tab")
					label(for="radio-tab4")
					
						.tabContents 
							h3 4枚目 歌会禄Ⅱ 後半
							p.source 歌会録Ⅱより抜粋
							p
								| 斉藤　神なんじゃないですか。
								br
								| 川野　神なんですか？
								br
								| 斉藤　何かしら第三者的な。だって人だったら人かよって感じじゃないですか。
								br
								| 川野　神だったらお前何とかしろよって思いません？
								br
								| 斉藤　神は何とかしてくれないんですよ！
						
						.tabItem 
							span 4
						
				h3 告知
				p.
					<blockquote class="twitter-tweet" data-partner="tweetdeck"><p lang="ja" dir="ltr">Quaijiu Vol.1 配信開始！<br><br>短歌・俳句連作　5人分<br>歌会録2つ<br>セブン 78089769<br>ファミマなど<br>ユーザー番号: J3YBZ3FXJR<br><br>期限:1/15 23:59まで<br><br>A3　4枚<br>モノクロ80円<br><br>詳しくは↓<a href="https://t.co/6C1TwSeP9i">https://t.co/6C1TwSeP9i</a> <a href="https://t.co/vUNOxtBZ8J">pic.twitter.com/vUNOxtBZ8J</a></p>&mdash; 怪獣歌会 (@quaijiu) <a href="https://twitter.com/quaijiu/status/817751609258061824">January 7, 2017</a></blockquote>
				h3 更新記録/予定
				p
					|	2017.1.8 - 15 ネットプリント配信
					br
					| 2017.1.10 印刷数100枚突破！
					br
					|	2017.1.21 note,kindleにて有料公開予定

				h3 内容
				h4 怪獣歌会宣言
				p 川野芽生

				h4 連作5つ
				p 鳥居萌　川野芽生　山中千瀬　山城周　斉藤志歩

				h4 歌会録Ⅰ
				h5 参加者
				p 鳥居萌　川野芽生　山城周　斉藤志歩
				h5 話されていること
				p 性別の恣意性、女「である」ことと女「に生まれる」こと、フェミニズムとレスビアン、男性原理としての神
				

				h4 歌会録Ⅱ 題「生」
				h5 参加者
				p 川野芽生　山中千瀬　山城周　斉藤志歩
				p ゲスト : 服部真里子
				h5 話されていること
				p 一度きりの生、いくつもの生、動物の搾取と殺害、メディア、自己と世界の純粋性

				h4 デザイン
				p 鳥居萌
				p.tyuu (敬称略、いろは順)

				h3 製作者のことば
				p 「世界がつらいつらいって言いながら、つらいって言っていいことが楽しくて笑い転げてしまうような歌会をしました」
				p 「出来が良すぎて壁に貼りたいぐらいだ。世の中が息苦しいと思っている人にぜひ読んでほしい。あなたたちのために作りました」
				p 「人を救おう」
				

				.articlefooter
					span.date 2017.1.1

	footer(ng-controller='linksController')
		p
			img(src="dest/assets/images/quaijiu_icon_white.png")
		.flex
			dl(ng-repeat='link in links')
				a(href='{{link.url}}')
					td
						img(src='dest/assets/images/{{link.image}}',alt='{{link.name}}')
					dd {{link.view}}

		.div.
			<script type="text/javascript" charset="UTF-8" src="//tag.brick.tools/js/brick.js"></script>
			<script type="text/javascript" charset="UTF-8" src="//tag.brick.tools/js/prop/UA-41376889-6.js"></script>
			<script>Brick.init();</script>