h2 Quaijiu Vol.1
span.tag ネットプリント
p
	2017.1.7 ネットプリント配信予定
	2017.1.21 noteにて有料公開予定

h3 内容
h4 連作5つ
p 川野芽生　斉藤志歩　鳥居萌　山城周　山中千瀬

h4 歌会録Ⅰ
p 川野芽生　斉藤志歩　鳥居萌　山城周

h4 歌会録Ⅱ 
p 川野芽生　斉藤志歩　山城周　山中千瀬
p ゲスト : 服部真理子

span.date 2017.1.1
