.what-wrapper
	p We are cipher.
.biography-wrapper
	h2 Biography
	.person#geru(data-type='background' slide-toggle="#geru2" )
		h3 Kyoko kadowaki a.k.a geruge
		.bioArticleWrap(id="geru2" class="slideable")
			h4 Engineer
			p DJ / MC / Mathematics
			p
				a(href="http://kdxu.github.io") website
	.person#meg(data-type='background' slide-toggle="#meg2")
		h3 Megumi Torii a.k.a kinakobooster
		.bioArticleWrap(id="meg2" class="slideable")
			h4 Designer
			p Tanka / Sclupture / Religious studies
			p
				a(href="http://twitter.com/kinakobooster" color='#cccccc') twitter
				|  / 
				a(href="http://noubrain.hateblo.jp") blog
	.person#katasho(data-type='background' slide-toggle="#katasho2")
		h3 A
		.bioArticleWrap(id="katasho2" class="slideable")
			h4 Unknown
			p ????
	.person#chisei(data-type='background' slide-toggle="#chisei2")
		h3 Chisei
		.bioArticleWrap(id="chisei2" class="slideable")
			h4 Beard dragon
			p Static on the rock
.what-wrapper
	p We are creative team in Eifuku
