.biography-wrapper.wrap
	label(for="geru") 
		input(type="checkbox" id="geru" class="bellows")
		.mono.person#geru(data-speed='6', data-type='background')
			h3 Kyoko kadowaki a.k.a geruge
			.bioArticleWrap
				h4 Engineer
				p DJ / MC / Mathematics
				p
					a(href="http://kdxu.github.io") website
	label(for="meg") 
		input(type="checkbox" id="meg" class="bellows")
		.mono.person#meg(data-speed='16', data-type='background')
			h3 Megumi Torii a.k.a kinakobooster
			.bioArticleWrap
				h4 Designer
				p Tanka / Sclupture / Religious studies
				p
					a(href="http://twitter.com/kinakobooster") twitter
					|  / 
					a(href="http://noubrain.hateblo.jp") blog
	label(for="a") 
		input(type="checkbox" id="a" class="bellows")
		.mono.person#katasho(data-speed='18', data-type='background')
			h3 A
			.bioArticleWrap
				h4 Unknown
				p ????
	label(for="chisei") 
		input(type="checkbox" id="chisei" class="bellows")
		.mono.person#chisei(data-speed='18', data-type='background')
			h3 Chisei
			.bioArticleWrap
				h4 Beard dragon
				p Static on the rock
