h3 {{title}}
script(type="text/processing" data-processing-target="poop" src="dest/assets/pde/{{pde_name}}.pde")
div(id="pde")
# canvas#unkn(data-processing-sources="dest/assets/pde/poop.pde" width="320" height="600")
p Death is inevitable...
p source code 	
  a(href="dest/assets/pde/{{pde_name}}.pde") {{pde_name}}.pde
p {{pde_date}} @kinakobooster
script(src='dest/assets/js/processing.js')
script(src='dest/assets/js/app.js')
