doctype html
head
  meta(charset="utf-8")
  title='EIFUKU CIPHER/'
  link(rel='stylesheet' type='text/css' href='dest/assets/stylesheets/main.css')
  script(src='https://raw.githubusercontent.com/processing-js/processing-js/v1.4.8/processing.js')
body
  h3 Eternal Unknown Pleasures
  script(type="text/processing" data-processing-target="unkn" src="dest/assets/pde/unkn.pde")
  canvas#unkn(data-processing-sources="dest/assets/pde/unkn.pde" width="320" height="600")
  
  p you can enjoy Unknown Pleasures eternally...
  p source code 	
    a(href="dest/assets/pde/unkn.pde") unkn.pde
  p 2016/6/19 @kinakobooster    
script(src='dest/assets/js/app.js')
