doctype html
head
  meta(charset="utf-8")
  title='EIFUKU CIPHER/escape from poop'
  link(rel='stylesheet' type='text/css' href='dest/assets/stylesheets/main.css')
  script(src='dest/assets/js/processing.js')
body
  h3 Escape from poop
  script(type="text/processing" data-processing-target="poop" src="dest/assets/pde/poop.pde")
  canvas#unkn(data-processing-sources="dest/assets/pde/poop.pde" width="320" height="600")
  
  p Death is inevitable...
  p source code 	
    a(href="dest/assets/pde/poop.pde") poop.pde
  p 2016/6/19 @kinakobooster    
script(src='dest/assets/js/app.js')
