.projects-wrapper
	h2 Projects	
	.pjleft
		.project#tab1
			h3 Eternal Unknown Pleasures
			img#unkn(src="dest/assets/images/project_unkn.png", alt="Unknown Pleasures")
			p 
		.project#tab2
			h3 You are DEAD
			img(src="dest/assets/images/project_youaredead.png", alt="placeholder")
			p Escape from poop
	.pjright
		#cont1
			h3 Eternal Unknown Pleasures
			p You can enjoy Unknown Pleasures etarnally...
		#cont2
			h3 You are DEAD 💩
			p Escape from poop
			p Death is inevitable
