ui-view
	.projects-wrapper
		h3 Projects	
		.wrap(ng-repeat="p in projects")
			a.mono.project(ui-sref="projects.detail({projectName:p.name})" ng-attr-id="{{p.name}}")
				.bgMask
					h4 {{p.title}}
					p {{p.detail}}
					p {{p.date}}
