doctype html
html(ng-app='App' lang="en")
head
	meta(charset="utf-8")
	title='EIFUKU CIPHER'
	link(rel='stylesheet' type='text/css' href='dest/assets/stylesheets/main.css')
	script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js")
	script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js")
	script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js")
	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
	
body
	header
		img(src="dest/assets/images/etahapi.png", alt="logo" height='60')
		ul
			li
				a(href="#/biography") biography
			li 
				a(href="#/projects") projects
			li 
				a(href="#/map") access
			li 
				a(href="#/contacts") contacts
	.content
		div(ng-view)
	footer
		.footer-wrapper
			h2 Contact
			p mail : kado@nouk.in
script(src='dest/assets/js/app.js')
