doctype html
html(ng-app='App' lang='ja')
	head
			meta(charset='utf-8')
			meta(name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=0.5,user-scalable=yes,initial-scale=1.0")
			title='怪獣歌会'
			link(rel='stylesheet' type='text/css' href='dest/assets/stylesheets/main.css')
			//link(rel='stylesheet' type='text/css' href='dest/assets/stylesheets/button.css')
			//link(rel='stylesheet' type='text/css' href='dest/assets/stylesheets/lightbox.css')
			//script(id="twitter-wjs" src="https://platform.twitter.com/widgets.js")
			//script(src="js/analytics.js")
	body
		.topview
			h1 Quaijiu
			p 怪獣歌会は怪獣の歌会です
		h3 hello
			p contact us with email
			br
			| quaijiu.kakai [at] gmail.com
			

script(src='dest/assets/js/app.js')
