
<div class="what-wrapper">
  <p>We are cipher.</p>
</div>
<div class="biography-wrapper">
  <h2>Biography</h2>
  <label for="geru"> 
    <input type="checkbox" id="geru" class="bellows"/>
    <div id="geru" data-speed="6" data-type="background" class="person">
      <h3>Kyoko kadowaki a.k.a geruge</h3>
      <div class="bioArticleWrap">
        <h4>Engineer</h4>
        <p>DJ / MC / Mathematics</p>
        <p><a href="http://kdxu.github.io">website</a></p>
      </div>
    </div>
  </label>
  <label for="meg"> 
    <input type="checkbox" id="meg" class="bellows"/>
    <div id="meg" data-speed="16" data-type="background" class="person">
      <h3>Megumi Torii a.k.a kinakobooster</h3>
      <div class="bioArticleWrap">
        <h4>Designer</h4>
        <p>Tanka / Sclupture / Religious studies</p>
        <p><a href="http://twitter.com/kinakobooster" color="#cccccc">twitter</a> / <a href="http://noubrain.hateblo.jp">blog</a></p>
      </div>
    </div>
  </label>
  <label for="a"> 
    <input type="checkbox" id="a" class="bellows"/>
    <div id="katasho" data-speed="18" data-type="background" class="person">
      <h3>A</h3>
      <div class="bioArticleWrap">
        <h4>Unknown</h4>
        <p>????</p>
      </div>
    </div>
  </label>
  <label for="chisei"> 
    <input type="checkbox" id="chisei" class="bellows"/>
    <div id="chisei" data-speed="18" data-type="background" class="person">
      <h3>Chisei</h3>
      <div class="bioArticleWrap">
        <h4>Beard dragon</h4>
        <p>Static on the rock</p>
      </div>
    </div>
  </label>
</div>
<div class="what-wrapper">
  <p>We are creative team in Eifuku</p>
</div>