
<div class="biography-wrapper wrap">
  <label for="geru"> 
    <input class="bellows" type="checkbox" id="geru"/>
    <div class="mono person" id="geru" data-speed="6" data-type="background">
      <h3>Kyoko kadowaki a.k.a geruge</h3>
      <div class="bioArticleWrap">
        <h4>Engineer</h4>
        <p><a href="http://kdxu.github.io">website</a></p>
      </div>
    </div>
  </label>
  <label for="meg"> 
    <input class="bellows" type="checkbox" id="meg"/>
    <div class="mono person" id="meg" data-speed="16" data-type="background">
      <h3>Megumi Torii a.k.a kinakobooster</h3>
      <div class="bioArticleWrap">
        <h4>Designer</h4>
        <p>Tanka / Sclupture / Religious studies</p>
        <p><a href="http://twitter.com/kinakobooster">twitter</a> / <a href="http://noubrain.hateblo.jp">blog</a></p>
      </div>
    </div>
  </label>
  <label for="a"> 
    <input class="bellows" type="checkbox" id="a"/>
    <div class="mono person" id="katasho" data-speed="18" data-type="background">
      <h3>A</h3>
      <div class="bioArticleWrap">
        <h4>Unknown</h4>
        <p>????</p>
      </div>
    </div>
  </label>
  <label for="chisei"> 
    <input class="bellows" type="checkbox" id="chisei"/>
    <div class="mono person" id="chisei" data-speed="18" data-type="background">
      <h3>Chisei</h3>
      <div class="bioArticleWrap">
        <h4>Beard dragon</h4>
        <p>Static on the rock</p>
      </div>
    </div>
  </label>
</div>