
<div class="what-wrapper">
  <p>We are cipher.</p>
</div>
<div class="biography-wrapper">
  <h2>Biography</h2>
  <div id="geru" data-type="background" slide-toggle="#geru2" class="person">
    <h3>Kyoko kadowaki a.k.a geruge</h3>
    <div id="geru2" class="bioArticleWrap slideable">
      <h4>Engineer</h4>
      <p>DJ / MC / Mathematics</p>
      <p><a href="http://kdxu.github.io">website</a></p>
    </div>
  </div>
  <div id="meg" data-type="background" slide-toggle="#meg2" class="person">
    <h3>Megumi Torii a.k.a kinakobooster</h3>
    <div id="meg2" class="bioArticleWrap slideable">
      <h4>Designer</h4>
      <p>Tanka / Sclupture / Religious studies</p>
      <p><a href="http://twitter.com/kinakobooster" color="#cccccc">twitter</a> / <a href="http://noubrain.hateblo.jp">blog</a></p>
    </div>
  </div>
  <div id="katasho" data-type="background" slide-toggle="#katasho2" class="person">
    <h3>A</h3>
    <div id="katasho2" class="bioArticleWrap slideable">
      <h4>Unknown</h4>
      <p>????</p>
    </div>
  </div>
  <div id="chisei" data-type="background" slide-toggle="#chisei2" class="person">
    <h3>Chisei</h3>
    <div id="chisei2" class="bioArticleWrap slideable">
      <h4>Beard dragon</h4>
      <p>Static on the rock</p>
    </div>
  </div>
</div>
<div class="what-wrapper">
  <p>We are creative team in Eifuku</p>
</div>