
<div class="projects-wrapper">
  <h2>Projects	</h2>
  <div class="pjleft">
    <div id="tab1" class="project">
      <h3>Eternal Unknown Pleasures</h3><img id="unkn" src="dest/assets/images/project_unkn.png" alt="Unknown Pleasures"/>
      <p> </p>
    </div>
    <div id="tab2" class="project">
      <h3>You are DEAD</h3><img src="dest/assets/images/project_youaredead.png" alt="placeholder"/>
      <p>Escape from poop</p>
    </div>
  </div>
  <div class="pjright">
    <div id="cont1">
      <h3>Eternal Unknown Pleasures</h3>
      <p>You can enjoy Unknown Pleasures etarnally...</p>
    </div>
    <div id="cont2">
      <h3>You are DEAD 💩</h3>
      <p>Escape from poop</p>
      <p>Death is inevitable</p>
    </div>
  </div>
</div>