@@charset "UTF-8";
@import "reset";

@font-face {
    font-family: 'leaguegothic';
    src: url('src/assets/fonts/leaguegothic-italic-webfont.eot');
    src: url('src/assets/fonts/leaguegothic-italic-webfont.eot?iefix') format('eot'),
         url('src/assets/fonts/leaguegothic-italic-webfont.woff') format('woff'),
         url('src/assets/fonts/leaguegothic-italic-webfont.ttf') format('truetype'),
         url('src/assets/fonts/leaguegothic-italic-webfont.svg#webfontjSpbZQRv') format('svg');
}

.resizeimage img { width: 100%; }
body{
  width: 960px;
  background: #334;
  color: #EEE;

}

.person h3 {
  font-family: leaguegothic;
  font-size: 6em;

}
