@import "reset";

@font-face
  font-family: 'leaguegothic'
  src: url('../fonts/leaguegothic-italic-webfont.eot')
  src: url('../fonts/leaguegothic-italic-webfont.eot?iefix') format("eot"), url('../fonts/leaguegothic-italic-webfont.woff') format("woff"), url('../fonts/leaguegothic-italic-webfont.ttf') format("truetype"), url('../fonts/leaguegothic-italic-webfont.svg#webfontjSpbZQRv') format("svg")


.resizeimage img
  width: 100%

body
  margin: auto;
  background: #334
  color: #eee

header
  background-color: #114;

h1
  margin: auto;

.what-wrapper
  background: #104;
  color: #eee;
  height: 300px;
  margin: auto;
  h2
    padding: 1em;
    text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
  p
    text-align: center;

.person h3
  font-family: leaguegothic
  font-size: 6em
