@import "reset";
@import 'https://fonts.googleapis.com/css?family=Roboto:900';
@font-face
  font-family: 'leaguegothic'
  src: url('../fonts/leaguegothic-italic-webfont.eot')
  src: url('../fonts/leaguegothic-italic-webfont.eot?iefix') format("eot"), url('../fonts/leaguegothic-italic-webfont.woff') format("woff"), url('../fonts/leaguegothic-italic-webfont.ttf') format("truetype"), url('../fonts/leaguegothic-italic-webfont.svg#webfontjSpbZQRv') format("svg")


.resizeimage img
  width: 100%

body
  margin: auto;
  background: #33333D;
  color: #eee;
  font-family:  sans-serif;

header
  background-color: #114;

h1
  margin: auto;
  width: 100%
  background-image: url("../../../dist/assets/images/header.jpg")
  background-size: cover
  background-position: center

.what-wrapper
  background: #0d030f;
  color: #eee;
  margin: auto;
  h2
    padding: 0.5em;
    text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
  p
    width: 100%
    padding: 2em
    text-align: center;
    font-size: 1em
    letter-spacing: 3px;


.biography-wrapper
  h2
    display: none;
  .person
    height: 300px;
    background-size: cover
    position: relative
    h3
      font-family: leaguegothic
      font-size: 4em
      padding: 15px
    .bioArticleWrap
      padding: 15px
      position: absolute
      bottom: 0
      width: 100%

  #geru
    text-align: right;
    background: url("../../../dist/assets/images/bg_geru2.jpg")
    background-size: cover
    background-position: left,center
  #meg
    background: url("../../../dist/assets/images/bg_meg.jpg")
    background-size: cover
    background-position: right,center
  #chisei
    background: url('../../../dist/assets/images/bg_chisei.jpg')


.projects-wrapper
  height: 560px;
  background: #332244;
  h2
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 2em;
    margin: 1em;
  .project
    width: 33%
    margin: auto
    float: left
    h3
      display: none
    p
      display: none
    img
      width : 100%
.location-wrapper
      height: 300px
      h2
        font-family: 'Roboto';
        text-align: center
        font-size: 2em
        color: (100,100,100,50)
